.billing {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 1rem;
  gap: 2rem;
}

.billing__content {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.billing__title {
  color: var(--primary-color);
}

.billing__list {
  display: flex;
  flex-flow: column wrap;
  border: .2rem solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.billing__item {
  list-style: none;
  padding: 1rem;
}

.billing__item:nth-child(odd) {
  background-color: white;
}
