.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  background-color: white;
}

.mobilemenu__list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
}

.mobilemenu__link {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

.hidden {
  left: 100%;
}
